@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    interpolate-size: allow-keywords;

    --background: #d3d8de;
    --foreground: rgb(38 34 40 / 0.90);

    --surface-0: #eeeef3;
    --surface-1: #f4f3f8;
    --surface-2: #e2e1e7;
    --surface-3: #d7d4de;

    --border: #d4e0d6;

    --wink-color: var(--color-lavender-400);
}

.dark {
    --background: #111214;
    --foreground: #EDECE8;

    --surface-0: #212023;
    --surface-1: #1c1b1f;
    --surface-2: #121215;
    --surface-3: #131013;

    --border: #2e2b2f;

    --wink-color: var(--color-lavender-600);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-inter);
    --font-display: var(--font-geologica);

    --color-surface-0: var(--surface-0);
    --color-surface-1: var(--surface-1);
    --color-surface-2: var(--surface-2);
    --color-surface-3: var(--surface-3);

    --color-border: var(--border);

    --color-lavender-50: #F3EFF5;
    --color-lavender-100: #E6E0EB;
    --color-lavender-200: #CDC0D8;
    --color-lavender-300: #B4A1C4;
    --color-lavender-400: #9B82B0;
    --color-lavender-500: #82629D;
    --color-lavender-600: #684F7D;
    --color-lavender-700: #4E3B5E;
    --color-lavender-800: #34273F;
    --color-lavender-900: #1A141F;
    --color-lavender-950: #120E16;

    --radius-md: 0.28rem;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;
}

@layer base {
    * {
        border-color: var(--color-border);
    }
}

/*region: Typography*/
h1, h2, h3, h4, h5, h6, button, a {
    font-family: var(--font-display), sans-serif;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.25;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.35;
}

h4 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
}

h5 {
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: 0.01em;
}

h6 {
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--foreground-muted);
}

p {
    font-size: 0.9375rem;
    line-height: 1.5;
}

/*endregion: Typography*/

button, a {
    cursor: pointer;
}

@keyframes wink {
    10% {
        background-color: var(--wink-color);
        opacity: 0.6;
    }
    40% {
        background-color: var(--wink-color);
        opacity: 0.6;
    }
    100% {
        background-color: transparent;
    }
}

.animate-wink {
    animation: wink 1000ms ease-out forwards;
}